$breakpoint-small: 575px;
$size-logo-small: $size-header-height * 0.85;
$size-header-item-padding: 20px;
$size-menu-item: 50px;
$size-min-content-width: 320px;

@media screen and (max-width: $breakpoint-small) {
  header {
    background-color: $color-black;
    height: $size-logo-small;

    #logo {
      margin-left: $size-header-item-padding;
      height: $size-logo-small;
    }

    &>.container {
      padding: 0;
    }

    .fa {
      transition: all 0.4s ease;
      font-size: 1.75em;
      line-height: $size-logo-small;
      margin-right: $size-header-item-padding;
      display: block;
      cursor: pointer;
      color: $color-white;
      float: right;
      height: 100%;
    }
  }

  nav {
    width: 100%;
    background-color: $color-black;

    &.hide {
      visibility: hidden;
      opacity: 0;
    }

    &.show {
      transition: all 0.4s ease;
      visibility: visible;
      opacity: 1;
    }

    a {
      font-size: 1.2em;
      height: $size-menu-item;
      line-height: $size-menu-item;
      display: block;
      width: inherit;
      color: $color-white;

      &:hover {
        color: $color-white;
      }

      &.active {
        background-color: $color-action;
        color: $color-black;

        &:hover {
          color: $color-black;
        }
      }
    }
  }

  main {
    padding-top: $size-logo-small + 20px;
  }

  .button:hover {
    color: $color-white;
  }

  #profile-image {
    width: 100%;
  }

  footer #social-media .fa:hover {
    color: $color-white;
  }
}
