// External Sass files
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Internal Sass files
@import 'page-render';

// Fonts
$font-oswald: 'Oswald';
$font-roboto-slab: 'Roboto Slab';
$font-stack: $font-roboto-slab, Helvetica, sans-serif;

// Sizes
$size-header-height: 75px;
$size-footer-height: 100px;
$size-logo: $size-header-height * 1.75;

// Z-indexs
$z-index-highest: 3;
$z-index-high: 2;
$z-index-middle: 0;
$z-index-low: -1;

// Colors
$color-black: #323232;
$color-white: #f0f0f0;
$color-action: #969696;

/****** STYLING ******/
body {
  box-sizing: border-box;
  font: 1em $font-stack;
  background-color: $color-white;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-weight: normal;
  font: 1.6em $font-oswald;
  color: $color-black;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  font: 1.3em $font-oswald;
  color: $color-black;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: $size-header-height;
  width: 100%;
  margin: 0 auto;
  z-index: $z-index-highest;
  background-color: $color-white;

  #logo {
    display: block;
    float: left;
    height: $size-logo;
  }

  .fa {
    display: none;
  }
}

nav {
  float: right;
  height: 100%;
  text-align: center;

  a {
    color: $color-black;
    font: 1.25em $font-oswald;
    text-decoration: none;
    height: $size-header-height;
    width: 110px;
    display: table-cell;
    outline: none;
    vertical-align: bottom;
    text-transform: uppercase;

    &.active {
      background-color: $color-black;
      color: $color-white;

      &:hover {
        color: $color-white;
      }
    }

    &:hover {
      transition: all 0.4s ease;
      color: $color-action;
    }
  }
}

main {
  margin: $size-logo + 50px auto 0 auto;

  ::-moz-selection {
    color: $color-white;
    background-color: $color-black;
  }
  ::selection {
    color: $color-white;
    background-color: $color-black;
  }
}

.project-cover {
  position: relative;
  height: 225px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover .image-container img {
    filter: grayscale(0);
    transform: scale(1.05);
    transition: all 0.2s ease;
  }

  .image-container {
    width: 100%;
    height: inherit;
    overflow: hidden;

    img {
      width: 100%;
      filter: grayscale(100%);
      transition: all 0.4s ease;
    }
  }

  .project-name {
    padding: 5px;
    width: 100%;
    height: 52px;
    background-color: $color-black;
    color: $color-white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $z-index-high;
  }
}

input {
  height: 40px;
  padding: 5px;
  color: $color-black;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

#search-field {
  display: flex;
  margin-bottom: 10px;

  .fa-search {
    font-size: 1.5em;
    color: $color-black;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
    flex-basis: 35px;
  }

  input[type=search] {
    box-sizing: padding-box;
    flex-grow: 1;
  }
}

#loading {
  margin: 40vh auto;
  width: 110px;
  height: 110px;

  svg {
    height: 110px;
    width: 110px;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: $z-index-highest;

  #social-media {
    text-align: center;
    width: 45px;
    height: 235px;
    background-color: $color-black;
    float: right;

    &.hide {
      transform: translate(0, -45px);
      transition: all 0.4s ease;
    }

    &.show {
      transform: translate(0, -235px);
      transition: all 0.4s ease;

      .fa-caret-up {
        transform: rotate(180deg);
      }
    }

    .fa {
      color: $color-white;
      margin: 3.5px 0;

      &:hover {
        transition: all 0.4s ease;
        color: $color-action;
        cursor: pointer;
      }
    }
  }
}

@import 'mobile';
